target/
.classpath
.project
.settings/
.idea/
.idea/*
.idea/**
tmc-cli.iml
scripts/config*
scripts/*.jar
**/config.properties
*/build_log.txt
*/private/*
*/build/*
build/*
*/private/*
config.properties
scripts/config.properties
**/test.properties
**/build_log.*
**/build_errors.txt
**/built-jar.*
**/config
testResources/successExercise/viikko1/Viikko1_001.Nimi/nbproject/private/
scripts/2014-mooc-no-deadline/viikko1/Viikko1_006.Yhteenlasku/build/
**/log.txt
*.swp
*nfs*
testResources/halfdoneExercise/viikko1/Viikko1_004.Muuttujat/nbproject/private/
